In [1]:
# function to swap between two variables
def swap(a,b):
  a, b = b, a
  return a,b

def bubble_sort(list_):
  end = len(list_)
  
  while(end >= 1):
    end -= 1
    for i in range(0,end):
      if list_[i]>list_[i+1]:
        a, b =  swap(list_[i], list_[i+1])
        list_[i] = a
        list_[i+1] = b
  
  return list_

list_ = [5,3,3,22,5,21,3,1,1]
bubble_sort(list_)

[1, 1, 3, 3, 3, 5, 5, 21, 22]